
body, p {
  margin: 0px;
  padding: 0px;
}

/* tag selectors */
body {
  margin: 0;
  font-family: "courier new", courier, monospace;
  font-family: georgia, "times new roman", times, serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}


h1, h2, h3 {
  font-family: 'shadows into light', cursive;
  max-width: 500px;
  background-color: #d4c2ae;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  text-transform: capitalize;
  border-style: groove;
  border-width: 8px;
  padding: 10px;
  margin: 30px;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h3 {
  font-weight: bold;
  text-align: left; /* remove since left is the default */
  margin-top: 30px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

p {
text-indent: 20px;
text-align: justify;
width: 80%;
}

ul li {
  list-style-type: circle;
  line-height: 200%;
}

ol li {
  list-style-type: decimal;
  line-height: 180%;
  width: 65%;
}

ul li {
  list-style-type: none;
}

/* pseudo-classes */
a:link, a:visited {
  color: #000 ; 
  text-decoration: none;
  background-color: #d4c2ae;
  padding: 10px;
  display: block;
  width: 120px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: margin-bottom 0.2s ease-in;
}

a:hover {
  color: #fff; 
  background-color: #000;
  margin-bottom: 35px;
}

a:active {
  color: green; 
  text-decoration: bold;
}


#center_doc a {background-color: transparent;}
#center_doc a:link, #centerdoc a:visited {color: #000; text-decoration: underline}
#center_doc a:hover {color: #f00; margin-bottom: 0px;}


/* id selectors */
#navigation {
  position: absolute;
  width: 210px;
  height: 600px;
  margin: 0;
  border-right: 1px solid #000;
  font-weight: normal;
}

#main_press {
  float: right;
  width:  193px;
  height: 350px;
  margin: 10px;
  margin-bottom: 50px;
  margin-right: 20%;
}

#center_doc {
  position: absolute;
  width: 80%;
  max-width: 1200px;
  min-width: 500px;
  margin-top: 50px;
  margin-left: 235px;
  padding: 0 0 20px 20px;
}
