
nav, main {
  display: block;
}

body {
  margin: 0;
  font-family: georgia, "times new roman", times, serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}


h1 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin-top: 30px;
}


p {
  width: 80%;
}

p.italic {
  font-style: italic;
  font-weight: bold;
}

p .italic {
  font-style: italic;
  font-weight: bold;
}


ul li {
  list-style-type: circle;
  line-height: 200%;
}

ol li {
  list-style-type: decimal;
  line-height: 180%;
  width: 65%;
}


/* pseudo-classes */
a:link {
  color: green ;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}

a:visited {
  color: green;
  background: red;
}

a:active {
  color: green; 
  font-weight: bold;
}

main a:link{color: green; text-decoration: underline; display: block;}


nav {
  width: 18%;
  height: 600px;
  margin: 0;
  border-right: 1px solid #000;
  font-weight: normal;
}

main {
  width: 78%;
  float: right;
  margin-top: 50px;
  padding: 0 0 20px 20px;
}

img {
  float: right;
  width:  200px;
  height: 350px;
  margin: 10px;
  margin-bottom: 50px;
  margin-right: 20%;
}



@media screen and (max-width: 800px) {
  nav {
    clear: both;
    width: 100%;
    height: 50px;
    border-right: 0px;
    text-align: center;
  }

  main {
    width: 100%;
    margin-top: 0px;
    padding: 0px 0px;
  }

  img {
    width: 150px; height: 300px; margin: 5px;
  }

  ul li {
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: -30px;
    padding: 5px;
    padding-left: 0px;
  }

  ol li {
    list-style-type: decimal;
    line-height: 150%;
    width: 100%;
  }

  h2 {
    text-align: left;
  }

  p {
    width: 100%;
    margin-right: 0px;
  }

  nav a:link{ display: block; color: white; background-color: #d67979; text-decoration: none; }
  nav a:visited{ display: block; color: white; background: red; background-color: #d67979 }
  nav a:hover{ color: blue; background-color: #ababc7; text-decoration: underline; }

}

@media screen and (max-width: 500px) {
  img {
    display: none;
  }
}
