aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1 {
  margin: 10px;
  padding: 5px;
}

.browser {
  margin: 10px;
  padding: 5px;
  background: white;
}

.browser > h2, .browser > p {
  margin: 4px;
  font-size: 90%;
}

.video-container video {
  margin: 10px;
  padding: 0px;
  width: 90%;
  height: auto;
  display: block;
}
